{% include 'header.html'%}
{% load staticfiles %}
{%load crispy_forms_tags%}

<head>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
	<script src="http://code.jquery.com/ui/1.9.2/jquery-ui.js"></script>

	<style>
	table {
		font-family: arial, sans-serif;
		border-collapse: collapse;
		width: 100%;
	}

	td, th {
		border: 1px solid #dddddd;
		text-align: left;
		padding: 8px;
	}

	tr:nth-child(even) {
		background-color: #dddddd;
	}
</style>
</head>

<!DOCTYPE html>
<html>
<title>W3.CSS Template</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Roboto'>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<style>
html,body,h1,h2,h3,h4,h5,h6 {font-family: "Roboto", sans-serif}
</style>


<body class="w3-light-grey">

	<!-- Page Container -->
	<div class="w3-content w3-margin-top" style="max-width:1400px;">
		<!-- The Grid -->
		<div class="w3-row-padding">
			<!-- Left Column -->
			<div class="w3-third">
				<table>
					<tr>
						<th>User</th>
						<th>Email</th>
						<th>Call/Join</th>
					</tr>
					{%for x in users%}
					<tr>
						<th>{{x.username}}</th> 
						<th>{{x.email}}</th>
						<th><li><a href="{% url 'chatroom' User_name=x.username%}">Call</a></li></th>
					</tr>
					{% endfor %}
				</table>
				<!-- End Left Column -->
			</div>

			<div class="w3-twothird">
				<div class="container">
					<div class="row">
						<div class="col-md-6 col-md-offset-0" style="padding: 50px;">
							<div id="otEmbedContainer" style="width:750px; height:640px"></div><script src={{src|safe}}></script>
						</div>
					</div>
				</div>
			</div>
			<!-- End Grid -->
		</div>

		<!-- End Page Container -->
	</div>

</body>


{% include 'footer.html' %}